// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

#proud-teaser-filter {
  @include card();
  padding: 1.25rem;
}

#proud-teaser-filter-filter_keyword {
  label {
    display: none;
  }

  input {
   
  }

}

.search-form {
  border: none;
  padding: 0;

  .form-control-search-icon {
    display: none;
  }

  .form-group {
    margin-bottom: 0;
  }
}

// Small up
// -------------------------
@include respond($sm-up) {
  .search-form { 
    .form-control {
      width: 80%;
      float: left;
    }
  }
}