// Empty label in form
label:empty {
  display: none!important;
}


#proud-teaser-filter-1 {
  @include card();
  margin-bottom: 0;
  padding: 1.25rem;
}

#proud-teaser-filter-1-form-proud-teaser-filter-1-filter_keyword {
  label {
    display: none;
  }

  input {
   
  }

}