// Grid system
// We're doing this w bootstrap classes
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}

// Full width / contrained in Site origins
.panel-grid {
  margin-bottom: 0!important;

  // Add padding to grids after title row
  + .panel-grid > .container {
    padding-bottom: $page-section-spacing;
  }
}


// Fake container for full width pages
.full-width-container {
  overflow: hidden;
}

// Content layout

.right-sidebar {
  > .widget {
    // First widget in sidebar, get rid of header margin
    &:first-child {
      & > h3 {
        margin-top: 0;
      }
    }
  }
}

@include respond($sm-and-down) {
  .right-sidebar {
    padding-top: $page-section-spacing;
  }
}