// Grid system
// We're doing this w bootstrap classes
.main {
  @include make-sm-column($main-sm-columns);
  .sidebar-primary & {
    @include make-sm-column($main-sm-columns - $sidebar-sm-columns);
  }
}
.sidebar {
  @include make-sm-column($sidebar-sm-columns);
}

// Fake container for full width pages
.full-width-container {
  overflow: hidden;
}

// Content layout

.right-sidebar {
  > .widget {
    // First widget in sidebar, get rid of header margin
    &:first-child {
      & > h3 {
        margin-top: 0;
      }
    }
  }
}


// Mobile only
// -------------------------
@include respond($xs-only) {

  .sidebar-primary {

    .page-header {
      @include clearfix();
    }

    #offcanvas-toggle {
      margin-top: 13px;
    }

    .wrap {
      overflow: hidden;

      > .content {
        left: -100%;
        @include clearfix;
        @include transition (left .25s ease-in-out);
        position: relative;
        width: 200%; 
      }
    }

    &.offcanvas-active {
      .wrap > .content {
        left: 0;
      }
    }

    .sidebar, .main {
      float: left;
      width: 50%;
    }
  }
}