body.service-center-kiosk {
  &,
  p {
    font-size: 24px;
  }
  
  
  &.service-center-navbar-left,
  &.service-center-navbar-right{
    .nav-contain {
      width: 25%;
      float: left;
  
      li {
        width: 100%;
        text-align: left;
      }
    }
  
    &.service-center-navbar-right {
      float: right;
    }
  
    .content-contain {
      width: 75%;
      float: left;
    }
  }
  
}

@media (min-width: 1000px) {
  body.service-center-kiosk {
    &,
    h5,
    h6,
    p {
      font-size: 32px;
    }
  
    .action-box {
      .breadcrumb li,
      h3{
        font-size: 36px;
      }
      
      .nav-contain .nav-pills li a {
        padding: 20px;
        
        &,
        .fa {
          font-size: 42px;
        }
      }
      
      dl h4 {
        font-size: 36px;
      }
  
      dl {
        &>dd {
          margin-bottom: 18px;
          margin-top: 10px;
          min-height: 90px;
        }
        
        h4 .fa {
          font-size: 50px;
          width: 75px;
          height: 75px;
          line-height: 75px;
        }
  
        h4 .fa~span {
          padding-left: 90px;
          padding-top: 10px;
        }
      }
      
      
      
    }
    
  }
  
  $scale:1.5;
  
  #wrap { width: 600px; height: 390px; padding: 0; overflow: hidden; }
  #frame { width: 800px; height: 520px; border: 1px solid black; }
  #frame {
    -ms-zoom:$scale;
    -moz-transform: scale($scale);
    -moz-transform-origin: 0 0;
    -o-transform: scale($scale);
    -o-transform-origin: 0 0;
    -webkit-transform: scale($scale);
    -webkit-transform-origin: 0 0;
  }
  
}