// Init styles
// ---------------------------

@import "loaders/load-local";

// Local Styles
// ---------------------------

@import "common/global";
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/grid";
@import "components/type";
@import "components/wp-classes";
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";

@import "plugins/events-manager";
@import "plugins/job_manager";
@import "plugins/gravity-forms";

// @import "modules/wr-pagebuilder";



$proud-alert-red: #BF0711;
$proud-alert-orange: #C05717;
$proud-alert-yellow: #EEC200;
$proud-alert-green: #108043;
$proud-alert-black: #212B35;
$proud-alert-gray: #C4CDD5;


.proud-alert-banner {
  border-radius: 0 !important;
  border: none !important;
}

.alert-red {
  background-color: $proud-alert-red;
}

.alert-orange {
  background-color: $proud-alert-orange;
}

.alert-yellow {
  background-color: $proud-alert-yellow;
}

.alert-green {
  background-color: $proud-alert-green;
}

.alert-black {
  background-color: $proud-alert-black;
}

.alert-gray {
  background-color: $proud-alert-gray;
}

.alert-red,
.alert-orange,
.alert-green,
.alert-black {
  color: $white;
  
  a {
    color: $white !important;
    text-decoration: underline;
  }
}

// Edits from luke's work

//.nav-logo img, .hide-site-name img.logo {
//  max-width: 175px !important;
//}
//
//
//
//
///* Quote */
//
//.jumbotron:not(.jumbotron-image), .nav-contain .nav-pills li.active a, .btn-primary {
//  background-color: #0071BC !important;
//  border-color: #0071BC !important;
//}
//.widget-proudcity-custom-quote-title h1 {
//  font-size: 50px;
//  margin-top: 0 !important;
//}
//.quote-menu {
//  background-color: #f1f1f1;
//  border: 1px solid #e4e2e0;
//  border-radius: 3px;
//  padding: 20px 10px   0px 10px !important;
//  margin-top: 30px !important;
//  margin-bottom: 30px !important;
//}
//.quote-menu .navbar-nav>li>a {
//  padding: 6px 12px !important;
//  margin-right: 10px;
//}
//.help-block {
//  display: block;
//  margin-top: 15px;
//  margin-bottom: 10px;
//  color: #212121;
//}
//.panel-grid-cell:only-child .so-panel {
//  margin-bottom: 0 !important;
//}
//hr.hidden-print {
//  margin-top: 0px;
//  margin-bottom: 0px;
//  border: 0;
//  border-top: 1px solid #fff;
//}
//.quote-hero h1 {
//  padding-bottom: 20px;
//  padding-top: 30px;
//}
//
///* Headings */
//
////h1, h2, h3, h4, h5, h6, .h1, .h4, .h5, .h6 {
////  font-weight: 900;
////}
////h1 {
////  font-size: 50px;
////}
//h1.entry-title {
//  padding-top: 20px;
//  font-size: 50px;
//}
//
///* Jumbotron */
//
////.jumbotron h1 {
////  font-size: 45px;
////}
//.jumbotron-header-container {
//  background-color: #205493;
//  background-image: url("https://storage.googleapis.com/proudcity/alpha/uploads/2019/01/help-jumbo.png");
//  background-repeat: no-repeat;
//  background-position: center;
//  background-size: cover;
//}
//.jumbotron.jumbotron-inverse .jumbotron-bg {
//  background: rgba(0, 113, 188,.8);
//  color: #ffffff;
//}
//.lead, .jumbotron p {
//  font-size: 20px;
//  font-weight: 400;
//}
//.jumbotron p {
//  padding-top: 20px;
//}
//.jumbotron p.lead {
//  color: #fff;
//}
//.jumbotron a, .jumbotron a:visited {
//  color: #fff;
//  text-decoration: underline;
//}
//.jumbotron a:hover {
//  color: #fff;
//  text-decoration: none;
//}
//
///* People */
//
//.people {
//  text-align: center;
//}
//.people img {
//  max-width: 150px;
//  margin-bottom: 20px;
//  border-radius: 50%;
//}
//
///* Images */
//
//.img-border img {
//  border: 10px solid #f1f1f1;
//  border-radius: 10px;
//  margin-bottom: 20px;
//  padding: 10px;
//}
//.govtech img {
//  max-width: 175px;
//}
//.seals img {
//  max-width: 110px;
//}
//.partner-horiz img {
//  max-width: 195px;
//  margin-bottom: 10px;
//  margin-top: 10px;
//}
//.partner-circle img {
//  max-width: 110px;
//  margin-bottom: 10px;
//  margin-top: 10px;
//}
//
///* Icons */
//
//.icon .fa {
//  color: #0071BC;
//  font-size: 50px;
//}
//.icon h2 {
//  margin-bottom: 0;
//  margin-top: 0;
//}
//
///* Help */
//
//.help {
//  background: #0071BC;
//  margin-bottom: 40px;
//  margin-top: 40px;
//  padding: 30px 0 50px 0;
//}
//.help a, .help a:visited, .help, .help h2 {
//  color: #fff;
//}
//.help a, .help a:visited {
//  text-decoration: underline;
//}
//.help a, .help a:visited {
//  text-decoration: underline;
//}
//.help .fa {
//  color: #fff;
//  font-size: 70px;
//  padding-top: 40px;
//}
///* Apps */
//
//.apps {
//  text-align: center;
//}
//.apps img {
//  border: 1px solid #f1f1f1;
//  border-radius: 5px;
//  width: 100%;
//  max-width: 125px;
//}
//.apps h3 {
//  font-size: 15px;
//}
//.apps .panel-grid-cell {
//  background: #f1f1f1;
//  margin-bottom: 20px;
//  padding: 10px;
//}
//
///* Plans */
//
//.plan {
//  border: 1px solid #d6d7d9;
//  border-radius: 3px;
//  padding: 10px;
//  margin-bottom: 20px;
//}
//
///* Table */
//
//table {
//  border: 1px solid #f1f1f1;
//  width: 100%;
//}
//th {
//  text-align: left;
//}
//th, td {
//  padding: 15px;
//  text-align: left;
//}
//tr:nth-child(even) {background-color: #f1f1f1;}
//
///* Media */
//
//.media {
//  margin-bottom: 2em;
//}
//.media img {
//  border: 1px solid #f1f1f1;
//}
//
///* Forms */
//
//.formWrap, .formButtonWrap {
//  margin: 0 !important;
//  padding: 0 !important;
//}