/* Updates go here */

/* Headings */

h1, h2, h3, h4, h5, h6, .h3, .h4 {
  color: blue;
	font-weight: 900 !important;
}

/*
// Social
$gray-social: #b6b6b8!default;
$blue-facebook: #3C5A99!default;
$blue-twitter: #1DA1F2!default;
$red-googleplus: #DD4B39!default;
$blue-linkedin: #0077B5!default;
$pink-flickr: #ff0084!default;
$red-youtube: #ff0000!default;
$red-pinterest: #bd081c!default;
$orange-rss: #f26522!default;
$pink-dribbble: #ea4c89!default;
$blue-vimeo: #1ab7ea!default;
$blue-wordpress: #21759b!default;
 */
