
.full-width-container ~ .footer-actions {
  margin-top: 0;
}

.footer-actions {
  margin-top: 50px;

  .nav {
    margin-bottom: 0;
  }

  a:hover {
    color: $white !important;
    text-decoration: underline !important;
  }
}

// For the proudbar
.page-footer {
  padding-bottom: 40px;

  h4 {
    margin-top: 0;
  }
}