// @todo: this is in proud_admin, and should be included from there
$admin-bar-height: 47px;

#wpadminbar {
  height: $admin-bar-height !important;

  #wp-admin-bar-wp-logo {
    background: url(//my.proudcity.com/images/IconWhite.png) 0 5px no-repeat !important;
    background-size: $admin-bar-height - 10px $admin-bar-height - 10px !important;
    margin-left: 10px; // @todo: var

    a {
      height: $admin-bar-height - 2px;
      width: $admin-bar-height - 2px;
    }

    .ab-icon:before {
      content: none !important;
    }

    .ab-item {
      background: none;
    }

    .ab-sub-wrapper {
      display: none;
    }
  }

  #wp-admin-bar-customize,
  #wp-admin-bar-updates,
  #wp-admin-bar-comments,
  #wp-admin-bar-site-name {
    display: none !important;
  }

  .ab-item {
    margin-top: 5px !important; // @todo: var/math
  }

}


body.proud-navbar-active.admin-bar .navbar-external, 
body.proud-navbar-active.admin-menu .navbar-external {
  top: $admin-bar-height !important;
}

// Responsive
@media screen and (max-width: 782px) {
  //html {
  //  padding-top: 0 !important;
  //  margin-top: 0 !important;

  //  #wpbody-content {
  //    //padding-top: $admin-bar-height;
  //  }
  //}

  html.wp-toolbar {
    padding-top: 0 !important;
  }

  #wpadminbar {
    margin-top: -$admin-bar-height;

    .ab-item {
      margin-top: 0 !important; // @todo: var/math
    }

    #wp-admin-bar-wp-logo {
      display: block !important;
    }
  }
}
