
.main {
  min-height: 500px;

  .card-wrap a{text-decoration:none;}
}

#tab-agenda-packet{
  li{
    a,
    a:visited{text-decoration:underline;}
  }
}


// Full height for pages

@include respond($sm-up) {
  html, body {
    height: 100%;
  }

  .wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
  }
}
