.sidebar {
  
}

ul.nav.nav-stacked.submenu,
.nav.nav-stacked.submenu ul {
  margin-bottom: 1em;
  border-bottom: 1px solid $gray-lighter;

  li {
    margin-top: 0;
    border-bottom: none;

    a {
      border: 1px solid $gray-lighter;
      border-bottom: none;
      border-radius: 0;
    }
  }  
}

/*
.widget-agency-contact,
.widget-agency-hours,
.widget-agency-social {
  font-size: .95em;
  color: $gray-darker;

  // @todo: change these to actually be h6s
  // @todo: get margin values from variables;
  h2 {
    @include h6;
    margin-bottom: $padding-base-vertical;
  }
}
*/

.widget-agency-social {
  padding-top: 1em;

  ul {
    margin-bottom: 0;
  }
}


// Responsive pages with sidebar
// -------------------------
@include respond($xs-only) {

  .sidebar-primary {

    .page-header {
      @include clearfix();
    }

    #offcanvas-toggle {
      margin-top: 13px;
    }

    .wrap {
      overflow: hidden;

      > .content {
        left: -100%;
        @include clearfix;
        @include transition (left .25s ease-in-out);
        position: relative;
        width: 200%;

        &.row {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    &.offcanvas-active {
      .wrap > .content {
        left: 0;
      }
    }

    .sidebar, .main {
      float: left;
      width: 50%;
    }
  }
}